html {
    height: 100%;
}

body {
    height: 100%;
}

.entry-section {
    margin: 100px 50px 0px 50px;
    width: calc(100% - 100px);
    height: 100%;
}

.new-flashcard-form {
    height: 320px;
}

.collection-info {
    border-radius: var(--radius);
    height: 100px;
}

#collection-title,
#collection-description {
    width: 100%;
    background: #fff;
    margin-top: 10px;
    display: block;
    border-radius: var(--radius);
}


.flashcard--visible {
    background: #fff;
    border-radius: var(--radius);
    margin-top: 10px;
    height: 155px;
    width: 100%;
}

.flashcard--hidden {
    display: none;
}

.entry-block,
.label-block,
.underline-block {
    width: 100%;
    height: 50%;
    display: flex;
    justify-content: space-evenly;
}

.entry-block {
    align-items: end;
}

.label-block {
    align-items: top;
}

.underline {
    box-shadow: 0 0.125rem 0 0 var(--gray-700-gray-200);
    height: 0.25rem;
    width: 100%;
    transition: all .12s cubic-bezier(.47, 0, .745, .715);
}

.entry textarea {
    color: var(--gray-700-gray-200);
    padding: 10px 0px 10px 5px;
    border: none;
    width: 100%;
    background-color: var(--clr-light-background);
}

.collection-info textarea {
    color: var(--gray-700-gray-200);
    padding: 10px 0px 10px 5px;
    border: none;
    width: 80%;
    background-color: var(--clr-light-background);
}


.term-entry,
.definition-entry {
    padding: 10px;
    width: 40%;
    text-align: center;
    display: inline-block;
}

.term-entry textarea,
.definition-entry textarea {
    outline: none;
}

.term-entry textarea:focus+.underline,
.definition-entry textarea:focus+.underline {
    box-shadow: 0 0.125rem 0 0 var(--clr-secondary-underline);
}

.nw-label,
.definition-label {
    width: 40%;
    color: var(--gray-700-gray-200);
    font-size: small;
}

/* make this more specific */
label {
    text-align: center;
}

.add-row {
    background: #fff;
    border-radius: var(--radius);
    margin-top: 10px;
    height: 100px;
    display: flex;
    justify-content: center;
}

.add-btn {
    display: flex;
    align-items: center;
}

.add-btn button {
    height: 50px;
    width: 100px;
}

textarea {
    resize: none;
}

.create-nav {
    display: flex;
    justify-content: space-between;
    font-size: 20px;
}

.btn-create {
    background: var(--clr-primary);
    border: none;
    color: #fff;
    border-radius: var(--radius);
    padding: 10px;
    box-shadow: none;
}

.btn-create:hover,
.btn-create:focus {
    cursor: pointer;
    filter: brightness(150%);
}