:root {
    --clr-primary: #1B4079;
    --clr-primary-hover: #2960b2;
    --clr-secondary: #8FAD88;
    --clr-secondary-hover: #97b790;
    --clr-light-background: #EFEFEF;
    --clr-dark-background: #c2c2c2;
    --gray-700-gray-200: #2e3856;
    --clr-300-background: #8a8a8a;
    --radius: 7px;
}

* {
    padding: 0px;
    margin: 0px;
    font-family: 'Roboto', sans-serif;
}

body {
    background: var(--clr-light-background);
}

.nav-list {
    background: #fff;
    box-shadow: 0px 0px 10px var(--clr-dark-background);
    padding: 1em 0;
    display: flex;
    justify-content: flex-end;
    align-items: center;
}

.sticky {
    position: fixed;
    width: 100%;
    top: 0;
}

.nav-item a {
    text-decoration: none;
    color: black;
}

.nav-item {
    margin-right: 2em;
    display: inline-block;
}

.nav-item a {
    color: var(--clr-primary);
}

.nav-item:first-child {
    margin-right: auto;
    margin-left: 1rem;
}

.nav-item .btn-primary {
    background: #fff;
    border: 2px solid var(--clr-primary);
    padding: 3px 5px;
    box-sizing: border-box;
    border-radius: var(--radius);
    font-size: 1rem;
    margin-right: 0;
}

.nav-item .btn-secondary {
    background: #fff;
    border: 2px solid var(--clr-secondary);
    padding: 3px 5px;
    box-sizing: border-box;
    border-radius: var(--radius);
    font-size: 1rem;
    margin-left: -20px;
    margin-right: -15px;
}

.nav-item .btn:hover {
    background: var(--clr-dark-background);
    transition: 100ms ease-in;
    cursor: pointer;
}

.nav-item .btn-primary:hover {
    border-color: var(--clr-primary-hover);
}

.nav-item .btn-secondary:hover {
    border-color: var(--clr-secondary-hover);
}

.menu.hamburger {
    height: 50px;
    width: 50px;
    text-align: center;
    border: none;
    background: none;
    outline: none;
    font-size: 13px;
    padding-left: 20px;
    margin: 0;
    display: inline-block;
    vertical-align: middle;
    position: relative;
    appearance: none;
    box-shadow: none;
    border-radius: none;
    border: none;
    cursor: pointer;
}

.menu.hamburger:hover>span.rows {
    opacity: 1;
}

.menu.hamburger>span.rows {
    display: block;
    position: absolute;
    top: 50%;
    left: 50%;
    margin-left: -1rem;
    width: 16px;
    margin-top: -2px;
    height: 3px;
    border-radius: 2px;
    background: #000;
    transition: all .3s;
}

.menu.hamburger>span.rows::before {
    top: -6px;
}

.menu.hamburger>span.rows::after {
    top: 6px;
}

.menu.hamburger>span.rows:before,
.menu.hamburger>span.rows:after {
    position: absolute;
    display: block;
    left: 0;
    right: 0;
    height: 100%;
    border-radius: 2px;
    background-color: #000;
    content: "";
    transition: all .3s;
}